[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
coverage = "==7.4.3"
requests = "*"
responses = "*"
grequests = "*"
lxml = "*"
nose = "*"
nose-cov = "*"
nose-timer = "*"
typing = "*"
virtualenv = "*"
black = "==19.10b0"
sphinx = "*"
requests-html = "*"
parse = "*"
pytest = "*"
pytest-cov = "==4.1.0"
pytest-xdist = "*"


[dev-packages]

[requires]
python_version = "3.12"
